body {
    margin-bottom: 50px;
}

p, h1, h2, h3, h4 {
    text-align: center;
}

ol {
    display: table;
    margin: 0 auto;
    list-style-position: inside;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

tbody {
  border-collapse: collapse;
  counter-reset: Serial;          /* Set the Serial counter to 0 */
}

tr td:first-child:before{
  counter-increment: Serial;      /* Increment the Serial counter */
  content:counter(Serial);        /* Display the counter */
}

td {
    padding: 5px 5px;
    font-size: 16px;
}

/* change input field bottom border color when typing */
input:focus {
    border-bottom: 1px solid #3949ab !important;
}